# TD4 - Explainability AI

#### Matias OTTENSEN
#### Tiphaine KACHKACHI
#### Manon GARDIN

# Our dataset 

Petite description du dataset

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_csv('archive/US_Accidents_March23.csv', sep=',')

## Observe data

In [6]:
df.shape

(7728394, 46)

We have a great number of lines in our dataset.\
Also we have 46 columns, we probably won't need every one of them. Let's see their name :

In [7]:
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

Variables like Street, City, Zipcode and County won't be useful to keep, because there are too many distinct values.\
The columns Bump, Traffic_calming, Turning_loop, Give_Way, No_Exit, Roundabout can be deleted because they take only one value (all false).\
The variable Country only takes US so we can delete it.\
We can also delete some columns like Airport_Code that won't be relevant.

In [10]:
# Delete the columns we don't need 
df = df.drop(['Street', 'City', 'Description','County', 'Zipcode', 'Country', 'Bump', 'Traffic_Calming', 'Turning_Loop', 'Give_Way', 'No_Exit', 'Roundabout', 'Airport_Code'], axis=1)

In [13]:
df.head(10)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Crossing,Junction,Railway,Station,Stop,Traffic_Signal,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,False,True,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,False,True,Day,Day,Day,Day
5,A-6,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-7,Source2,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,NaN,NaN,0.00,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-8,Source2,3,2016-02-08 07:59:58,2016-02-08 08:29:58,39.770382,-84.194901,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
8,A-9,Source2,2,2016-02-08 08:00:40,2016-02-08 08:30:40,39.778061,-84.172005,NaN,NaN,0.00,...,False,False,False,False,False,False,Day,Day,Day,Day
9,A-10,Source2,3,2016-02-08 08:10:04,2016-02-08 08:40:04,40.100590,-82.925194,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day

In [14]:
df.info

<bound method DataFrame.info of                 ID   Source  Severity           Start_Time  \
0              A-1  Source2         3  2016-02-08 05:46:00
1              A-2  Source2         2  2016-02-08 06:07:59
2              A-3  Source2         2  2016-02-08 06:49:27
3              A-4  Source2         3  2016-02-08 07:23:34
4              A-5  Source2         2  2016-02-08 07:39:07
...            ...      ...       ...                  ...
7728389  A-7777757  Source1         2  2019-08-23 18:03:25
7728390  A-7777758  Source1         2  2019-08-23 19:11:30
7728391  A-7777759  Source1         2  2019-08-23 19:00:21
7728392  A-7777760  Source1         2  2019-08-23 19:00:21
7728393  A-7777761  Source1         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN
...                      ...        ...         ...       ...        ...
7728389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094
7728390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363
7728391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727
7728392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565
7728393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934

         Distance(mi)  ... Crossing Junction Railway Station   Stop  \
0               0.010  ...    False    False   False   False  False
1               0.010  ...    False    False   False   False  False
2               0.010  ...    False    False   False   False  False
3               0.010  ...    False    False   False   False  False
4               0.010  ...    False    False   False   False  False
...               ...  ...      ...      ...     ...     ...    ...
7728389         0.543  ...    False    False   False   False  False
7728390         0.338  ...    False    False   False   False  False
7728391         0.561  ...    False     True   False   False  False
7728392         0.772  ...    False    False   False   False  False
7728393         0.537  ...    False    False   False   False  False

         Traffic_Signal  Sunrise_Sunset  Civil_Twilight  Nautical_Twilight  \
0                 False           Night           Night              Night
1                 False           Night           Night              Night
2                  True           Night           Night                Day
3                 False           Night             Day                Day
4                  True             Day             Day                Day
...                 ...             ...             ...                ...
7728389           False             Day             Day                Day
7728390           False             Day             Day                Day
7728391           False             Day             Day                Day
7728392           False             Day             Day                Day
7728393           False             Day             Day                Day

        Astronomical_Twilight
0                       Night
1                         Day
2                         Day
3                         Day
4                         Day
...                       ...
7728389                   Day
7728390                   Day
7728391                   Day
7728392                   Day
7728393                   Day

[7728394 rows x 34 columns]>

# Question 3

The variables we can predict are probably the severity of an accident, and maybe a start time.

Based on our intuition, we think that the most important variables to predict the severity of an accident would be the weather condition variables like Humidity, Wind Speed, Pressure, etc. And probably the time of the day like Day or Night.

## Univariate Analysis

In [15]:
df.describe

<bound method NDFrame.describe of                 ID   Source  Severity           Start_Time  \
0              A-1  Source2         3  2016-02-08 05:46:00
1              A-2  Source2         2  2016-02-08 06:07:59
2              A-3  Source2         2  2016-02-08 06:49:27
3              A-4  Source2         3  2016-02-08 07:23:34
4              A-5  Source2         2  2016-02-08 07:39:07
...            ...      ...       ...                  ...
7728389  A-7777757  Source1         2  2019-08-23 18:03:25
7728390  A-7777758  Source1         2  2019-08-23 19:11:30
7728391  A-7777759  Source1         2  2019-08-23 19:00:21
7728392  A-7777760  Source1         2  2019-08-23 19:00:21
7728393  A-7777761  Source1         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN
...                      ...        ...         ...       ...        ...
7728389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094
7728390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363
7728391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727
7728392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565
7728393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934

         Distance(mi)  ... Crossing Junction Railway Station   Stop  \
0               0.010  ...    False    False   False   False  False
1               0.010  ...    False    False   False   False  False
2               0.010  ...    False    False   False   False  False
3               0.010  ...    False    False   False   False  False
4               0.010  ...    False    False   False   False  False
...               ...  ...      ...      ...     ...     ...    ...
7728389         0.543  ...    False    False   False   False  False
7728390         0.338  ...    False    False   False   False  False
7728391         0.561  ...    False     True   False   False  False
7728392         0.772  ...    False    False   False   False  False
7728393         0.537  ...    False    False   False   False  False

         Traffic_Signal  Sunrise_Sunset  Civil_Twilight  Nautical_Twilight  \
0                 False           Night           Night              Night
1                 False           Night           Night              Night
2                  True           Night           Night                Day
3                 False           Night             Day                Day
4                  True             Day             Day                Day
...                 ...             ...             ...                ...
7728389           False             Day             Day                Day
7728390           False             Day             Day                Day
7728391           False             Day             Day                Day
7728392           False             Day             Day                Day
7728393           False             Day             Day                Day

        Astronomical_Twilight
0                       Night
1                         Day
2                         Day
3                         Day
4                         Day
...                       ...
7728389                   Day
7728390                   Day
7728391                   Day
7728392                   Day
7728393                   Day

[7728394 rows x 34 columns]>